.feature {
    padding-top: 94px;
    padding-bottom: 94px;
}

.feature__wrap {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}



.feature__title {
    margin-top: 0;
    margin-bottom: 50px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    text-transform: none;
    display: none;
}

.feature__list {
    justify-content: space-between;
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.feature__item:not(:last-child) {
    margin-right: 30px;
}

.feature__icon {
    display: flex;
    height: 120px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    background-color: var(--primery-background-color);
}

.feature__svg {
    height: 70px;
    width: 70px;
}

.feature__subtitle {
    margin-top: 0;
    margin-bottom: 10px;
    width: 270px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}


.feature__text {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}